.main{
    height: 300px;
    width: 1222px;
    position: absolute;
    background-color: antiquewhite;

}
.box{
    height: 200px;
    width:1222px ;
    background-color: aqua;

}
.box2{
    display:grid;
    height: 50px;
    width: 50px;
    justify-content: space-between ;
    margin-top: 2cm;
    gap: 10px;
    grid-template-columns: 30px  30px 30px 30px 30px;
    

}
.box1{
    display: flex;
     margin-top: 2cm;
    justify-content: space-between;
}
.main1{
    height: 100px;
    width:700px ;




}
