.lan{
    height: 717px;
    width: 1460px;
    background-color:white
    margin-top : 0%;
    position : relative;
}
.day{
    position: absolute;
    height:15px ;
    width:100%;
    margin-top: 0%;
    display: flex;

}
.day1{
    background-color: aliceblue;
    height: 100%;
    width: 16%;
    /* width: fit-content; */
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    border: 1px solid white;
    padding: 2px;
}
.cla{
    position: absolute;
    height:60% ;
    width:100%;
    margin-top: 1.4%;
    display: flex;

}
.cla1{
    background-color: aliceblue;
    height: 100%;
    width: 16%;
    /* width: fit-content; */
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    border: 1px solid white;
    padding: 2px;
}
.mon{
    position: absolute;
    height:2% ;
    width:98.4%;
    margin-top: 31%;
    display: flex;

}
.mon1{
    background-color: aliceblue;
    height: 100%;
    width: 50%;
    /* width: fit-content; */
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    border: 1px solid white;
    padding: 2px;
}
.pro{
    position: absolute;
    height:32% ;
    width:98.4%;
    margin-top: 32.3%;
    display: flex;

}
.pro1{
    background-color: aliceblue;
    height: 100%;
    width: 50%;
    /* width: fit-content; */
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    border: 1px solid white;
    padding: 2px;
}